* {
    padding: 0px;
    margin: 0px;
}

input {
    text-align: center;
    width: 100vw;
    font-size: 5vh;
    padding-bottom: .5vh;
}

#registerSubmit {
    background-color: lightgray;
    color: #9E9E9E;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#registerSubmit:focus {
    outline: none;
}

#loginSubmit {
    background-color: lightgray;
    color: #9E9E9E;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#loginSubmit:focus {
    outline: none;
}
