* {
    padding: 0px;
    margin: 0px;
}

input {
    text-align: center;
    width: 100vw;
    font-size: 5vw;
    padding-bottom: .5vh;
}

#brand {
    text-align: center;
    background-color: gray;
    color: lightgreen;
    font-size: 10vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#registerSubmit {
    background-color: lightgray;
    color: #9E9E9E;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#registerSubmit:focus {
    outline: none;
}

#loginSubmit {
    background-color: lightgray;
    color: #9E9E9E;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#loginSubmit:focus {
    outline: none;
}
